body{
    background-color:skyblue;
}
@keyframes myAnimation {
         0% {
            color: gold;
            top: -10px;
            left: -30px;
         }
         25% {
            color: green;
            top: 90px;
            left: 200px;
         }
         50% {
            color: blue;
            top: -30px;
            left: 300px;
         }
         75% {
            color: yellow;
            top: 90px;
            left: 300px;
         }
         100% {
    color: red;
            top: -10px;
            left: -30px;
         }
      }
      #h1 {
         animation-name: myAnimation;
         animation-duration: 2s;
         /* try to change the value below with a number */
         animation-iteration-count: infinite;
         position: relative;
         width: 300px;
         height: 100px;
         color: gold;
      }
      
      h2{
          font-size:50px;
          text-align:center;
      }
      
header h1{
    
    
    margin:20px;
    color:red;
    
    
}
#diva{
    background-color:skyblue;
}
div{
    background-color:black;
    padding:20px;
    margin:10px;
    
}
 main h1{
    text-align:center;
    color:green;
}
#class1{
    background-color:lightgreen;
    
}
h2{
    color:red;
    
}